<section
  id="about-us-section-container"
  class="genericPadding lg:flex min-h-[350px]"
>
  <div class="w-full lg:w-1/2 my-5 md:my-0 md:my-20 md:pr-20">
    <app-images-composition [images]="images"></app-images-composition>
  </div>
  <div
    id="about-us-description-container"
    class="w-full lg:w-1/2 h-full self-center"
  >
    <h5
      class="text-2xl self-center text-primary relative inline-block about-section-title"
    >
      About Us
    </h5>
    <h1 class="mt-10 text-5xl text-secondary font-nunito font-extrabold">
      Welcome to
      <fa-icon
        [classes]="['text-primary', 'w-10', 'h-10', 'pb-1']"
        [icon]="faUtensils"
      ></fa-icon>
      Restoran
    </h1>
    <p class="my-3">
      Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam
      amet diam et eos erat ipsum et lorem et sit, sed stet lorem sit.
    </p>
    <p class="my-3">
      Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam
      amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit
      clita duo justo magna dolore erat amet
    </p>
  </div>
</section>
