<div class="my-10 flex flex-col items-center justify-center w-full">
  <div class="my-2 flex items-center justify-center w-full">
    <h5
      class="relative flex items-center section-title text-primary font-regular text-xl font-pacifico"
    >
      Contact Us
    </h5>
  </div>
  <h1 class="text-secondary font-extrabold text-3xl font-nunito mb-10">
    Contact for any query
  </h1>
  <div class="flex flex-col md:flex-row items-stretch justify-center md:justify-between md:py-5 gap-4 w-full genericPadding min-h-[500px]">
    <app-map class="w-full flex-grow md:w-1/2"></app-map>
    <app-contact-form class="w-full flex-grow md:w-1/2"></app-contact-form>
  </div>