<div [class]="getClasses()" class="relative z-50">
  <div class="flex items-center ml-5 z-20">
    <fa-icon
      [classes]="['h-7', 'w-7', 'md:h-10', 'md:w-10 text-primary']"
      [icon]="faUtensils"
    ></fa-icon>
    <h1 class="m-5 font-nunito font-semibold text-3xl text-primary">Restoran</h1>
  </div>
  <nav *ngIf="navbar?.length" class="z-20 md:flex hidden items-center">
    <div *ngFor="let item of navbar" class="mr-5">
      <ng-container 
        *ngTemplateOutlet="item.subpaths?.length ? dropdownItem : standardItem; context: { $implicit: item }">
      </ng-container>
    </div>
    <app-basic-button [cta]="'BOOK A TABLE'"></app-basic-button>
  </nav>
  <button
    class="border rounded font-nunito p-1 px-3 text-gray-400 h-fit border-solid border-grey-100 mr-5 md:hidden"
    (click)="toggleDropdown()"
  >
    <fa-icon [classes]="['sm:h-2.5', 'sm:w-2.5']" [icon]="faBars"></fa-icon>
  </button>
</div>

<!-- Update the mobile dropdown menu -->
<div 
  *ngIf="dropdownToggled"
  class="pb-4 genericPadding md:hidden absolute left-0 w-full bg-secondary z-40 shadow-lg animate__animated animate__slideInDown"
>
  <nav class="flex flex-col items-start py-2">
    <div *ngFor="let item of navbar" class="mb-3 w-full">
      <ng-container 
        *ngTemplateOutlet="item.subpaths?.length ? dropdownItem : standardItem; context: { $implicit: item }">
      </ng-container>
    </div>
  </nav>
  <div class="flex items-center w-full pb-4">
    <app-basic-button [cta]="'BOOK A TABLE'"></app-basic-button>
  </div>
</div>

<ng-template #standardItem let-item>
  <a (click)="handleNavigate(item)" [ngClass]="{'text-primary': item.selected, 'text-white': !item.selected}" class="cursor-pointer px-2 font-semibold font-heebo">
    {{ item.label | uppercase }}
  </a>
</ng-template>

<ng-template #dropdownItem let-item>
  <a (click)="handleNavigate(item)" [ngClass]="{'text-primary': item.selected, 'text-white': !item.selected}" class="dropdown-toggle cursor-pointer px-2 font-semibold font-heebo">
    {{ item.label | uppercase }}
  </a>
</ng-template>
