<section class="max-w-6xl mx-auto">
  <div class="my-2 flex items-center justify-center w-full">
    <h5 class="relative flex items-center section-title text-primary font-regular text-xl font-pacifico">Testimonials</h5>
</div>
<h1 class="text-secondary font-extrabold text-3xl w-full text-center font-nunito mb-10">Our Clients Tell!</h1>

    <!-- Owl Carousel -->
     <div class="genericPadding">
       <owl-carousel-o [options]="customOptions">
           <ng-container *ngIf="reviews && reviews.length > 0; else noReviews">
               <ng-container *ngFor="let review of reviews; trackBy: trackByFn">
                   <ng-template carouselSlide>
                       <div class="border p-6">
                           <fa-icon class="text-orange text-5xl mb-4" [icon]="quoteIcon"></fa-icon>
                           <p class="font mb-4">Dolor et eos labore, stet justo sed est sed. Diam sed sed dolor stet amet eirmod
                               eos labore diam</p>
                           <div class="flex">
                               <img [src]="review.picture"
                                   class="mr-3 bg-gray-200 rounded-full !w-min h-16 aspect-square" />
                               <div class="flex-1">
                                   <h2 class="mb-1 nunito text-xl font-extrabold">{{review.name}}</h2>
                                   <p>{{review.jobTitle}}</p>
                               </div>
                           </div>
                       </div>
                   </ng-template>
               </ng-container>
           </ng-container>
           <ng-template #noReviews>
               <li></li>
           </ng-template>
       </owl-carousel-o>
     </div>
</section>
