<div class="flex flex-col">
  <app-hero [customClass]="['md:h-screen']">
    <div
      class="flex flex-col md:flex-row genericPadding h-full md:justify-around items-center overflow-hidden md:overflow-visible"
    >
      <div
        class="flex flex-col w-[85%] md:w-[50%] justify-around items-center md:items-start my-20 md:my-0 md:mt-20 h-auto"
      >
        <h1
          class="animate__animated animate__slideInLeft text-white font-nunito text-4xl md:text-7xl md:text-start text-center font-extrabold"
        >
          Enjoy Our Delicious Meal
        </h1>
        <p
          class="text-white animate-slide-in font-heebo text-base text-center py-5 md:text-start"
        >
          Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
          diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
          lorem sit clita duo justo magna dolore erat amet
        </p>
        <app-basic-button [cta]="'BOOK A TABLE'"></app-basic-button>
      </div>
      <img
        class="animate-spin-slow h-auto w-[100%] md:w-[40%] py-3"
        src="https://themewagon.github.io/restoran/img/hero.png"
        alt="rotating-dish"
      />
    </div>
  </app-hero>
  <!-- CARDS SECTION START -->
  <div class="flex flex-col lg:flex-row lg:justify-between w-full genericPadding mt-12">
      <app-basic-card        
        *ngFor="let card of cards; let i = index"
        [ngClass]="['w-full', 'lg:w-[23%]']"
        [icon]="card.icon"
        [delay]="i * 0.2"
        [title]="card.title"
        [description]="card.description"
      ></app-basic-card>
  </div>
  <!-- CARDS SECTION END -->
  <!-- ABOUT US SECTION START -->
  <app-about-section></app-about-section>
  <!-- ABOUT US SECTION END -->

</div>
