<div class="hidden md:block md:sticky top-0 left-0 right-0 z-100">
  <app-navbar
    *ngIf="appendedNavbarFirstTime"
    [customClasses]="
      standardNavbarHidden
        ? [
            'md:absolute',
            'w-full',
            'md:top-0',
            'md:left-0',
            'md:right-0',
            'z-100',
            'md:bg-secondary-important',
            'animate__animated',
            'animate__slideInDown'
          ]
        : [
            'md:absolute',
            'w-full',
            'md:top-0',
            'md:left-0',
            'md:right-0',
            'z-100',
            'md:bg-secondary-important',
            'animate__animated',
            'animate__slideOutUp'
          ]
    "
  ></app-navbar>
</div>
<div class="flex flex-col relative bg-zinc-100 w-full xl:w-[85%] mx-auto my-0">
  <app-navbar
    ngIntersectView
    [threshold]="0.9"
    (isVisible)="handleScrollPage($event)"
    [customClasses]="['md:absolute', 'md:top-0', 'md:left-0', 'z-50']"
  ></app-navbar>
  <router-outlet></router-outlet>
</div>
